<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <style>
        .container
        {
            margin: 50px;
        }
        a
        {
            display: block;
            text-decoration: none;
            padding-top: 15px;
            margin: 20px;
            color: white;
            width: 200px;
            height: 30px;
            background-color: rgb(0, 133, 252);
            text-align: center;
            border-radius: 5px;
            
            
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/admin-login">Admin Login</a>
        <a href="/admin-Registration">Admin User Registration</a>
    </div>
</body>
</html>