<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <title>Page 1</title>
      <style>
         .login
         {
            width: 150px;
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
         }

         .login a
         {
            text-decoration: none;
            color: black;
            margin: 0px;
         }
         .login span ,.login a
         {
            font-size: 25px;
            cursor: pointer;

         }
         .login .user , .login .logout
         {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

         }
         body
         {
         margin-left: 40px;
         }
         a{
         display: block;
         margin-bottom: 15px;
         }

      </style>
   </head>
   <body>
      <div class="login">
         <div class="user">
            <span class="material-icons">
               account_circle
            </span>
            <span>admin</span>
         </div>
         <div class="logout">
            <span class="material-icons">
               logout
            </span>
            <a href="/admin-login/logout">
               logout
            </a>
         </div>
         
         

      </div>
      <div class="box-1">
         <h1>
            Team Details
         </h1>
         <a href="http://localhost:3000/TeamDetails/PerformanceTeam" >Performance Team</a>
         <a href="http://localhost:3000/TeamDetails/DBPerformanceTeam" >DB Performance Team</a>
      </div>
      <div class="box-2">
         <h1>
            Project Details
         </h1>
         <a href="http://localhost:3000/ProjectDetails" >Projects</a>
      </div>
   </body>
</html>