<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
   
    <style>
        body
        {
            margin-left: 50px;
        }
        table
        {
            border:1px solid rgb(148, 140, 140);
           height: 100%;
            width: 100%;
            border-collapse: collapse;
            border-radius: 30px;
           
    
            
        }
        th
        {
            
            height: 40px;
            color: white;
            background-color: rgb(0, 133, 252);
            
            
        }
        td
        {
            height: 20px;
            text-align: left;
            border:1px solid rgb(148, 140, 140);
            padding: 10px;
            

        }
        .content
        {
            
width: 500px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
        
    </style>
</head>
<body>
    <div class="header">
        <h1>Team Details</h1>
        <h3>Performance Team</h3>
    </div>
    <div class="content">
        <table>
            <thead></thead>
            <tr>
                <th>Manager</th>
                <th>Role</th>
            </tr>
            <tbody>
                <%  for (var emp of data) { 
                 %>
                <tr><td><%=emp.name%></td><td><%=emp.role%></td></tr>
               <%}%>
            </tbody>
        </table>
    </div>
</body>
</html>